<% if(success && success.length ){ %>
<div class="alert alert-success alert-dismissible fade show alert-container" role="alert">
    <i class="bi bi-check-circle" style="font-size: 1.2rem;"></i>
    <strong><%= success %></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(failuer && failuer.length ){ %>
<div class="alert alert-danger alert-dismissible fade show alert-container" role="alert">
    <i class="bi bi-exclamation-circle" style="font-size: 1.2rem;"></i>
    <strong><%= failuer %></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(error && error.length ){ %>
<div class="alert alert-dark alert-dismissible fade show alert-container" role="alert">
    <i class="bi bi-info-circle" style="font-size: 1.2rem;"></i>
    <strong><%= error %></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>