<% layout('/layouts/boilerplate') %>

  <div class="privacy">
    <h3>Privacy Policy</h3>
    <p>Last updated: April 10, 2025
        <br>
      At BiriyaniByte, we value your privacy and are committed to
      protecting any personal information you share with us. This policy
      explains what we collect, how we use it, and your rights regarding your
      information.
    </p>
    <ol>
      <li>
        Information We Collect: Name, phone number, and email (if provided for
        pre-orders or feedback). Feedback or reviews you provide.
      </li>
      <li>
        How We Use Your Information: To confirm orders or bookings. To improve
        our food and services. To respond to your questions or concerns.
      </li>
      <li>
        Data Security: We take reasonable steps to protect your information from
        loss, misuse, or unauthorized access.
      </li>
      <li>
        Your Choices: You may choose not to provide certain information, but it
        may limit your ability to place orders or receive updates.
      </li>
    </ol>
  </div>
  <div class="terms-condition">
    <h3>Terms & Condition</h3>
    <p>
      Terms & Conditions Last updated: April 10, 2025 By purchasing food or
      using services from BiriyaniByte, you agree to the following
      terms:
    </p>
    <ol>
      <li>
        Orders & Payments: Prices are subject to change without notice. Orders
        must be paid in full at the time of purchase (cash, UPI, or card if
        available).
      </li>
      <li>
        Food Safety: We follow hygienic food practices. Please inform us of any
        food allergies before ordering.
      </li>
      <li>
        Cancellation & Refunds: Orders once placed cannot be cancelled or
        refunded. If there is an issue with your order, contact us immediately
        and we should do our best to resolve it.
      </li>
      <li>
        Changes to Terms: We may update these terms anytime. Continued use of
        our services means you accept the updated terms.
      </li>
    </ol>
  </div>

